*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.debug{
    border: 1px solid white;
}
body{
    color: var(--color-secondary-color);
}
:root {
	--color-primary-color: #000000;
	--color-secondary-color: #ffffff;
	--color-button: #4a4a4a;
	--color-nav-bar: #222222;
	--color-text: #f01222;
	--color-share-screen: #4ac700;
}
.container{
    background-color: var(--color-primary-color);
    height: 100vh;
    padding-top: 70px;
    position: relative;
}
.margin-right{
    padding-right: 5px;
}
.padding-left{
    padding-left: 10px;
}
/* main */
.section{
    width: 90vw;
    margin: 0 auto;
}
.image{
    width: calc(90vw/7);
    height: 110px;
    padding-right: 10px;
    margin-bottom: 20px;
    position: relative;
}
.image img{
    width: 100%;
    height: 110px;
    object-fit: cover;
    display: block;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.space-flex{
    justify-content: space-between;
    align-items: center;
}
.button-flex{
    justify-content: flex-end;
    text-align: center;
}
.button{
    background-color: var(--color-button);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.p-absolute{
    position: absolute;
    top: 0;
    right: 0;
}
.user{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-button);
    opacity: 0.8;
    padding: 4px;
}


/* footer */
footer{
    background-color: var(--color-nav-bar);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
}
nav i{
    font-size: 16px;
}
.text{
    padding-right: 20px;
    text-align: center;
}
.small-text{
    font-size: 0.8em;
}
#share-screen{
    color: var(--color-share-screen);
}
.button-end{
    background-color: var(--color-button);
    padding: 15px;
    color: var(--color-text);
}
